/* import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter:ital,wght@0,100..900;1,100..900&family=Gugi&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');

:root{
    --light-gray: #2b3032a1;

--primary-color: #45ccb8;

--border: #2b303218;

--text-color:#ff686b;

--roboto: "Roboto", sans-serif;
--sofia: "Sofia",cursive;
--lato:"Loto",cursive;
--bitter:"Bitter",cursive;
--anton:"Anton",cursive;
--gugi:"Gugi",cursive;

}

body{
    font-family: var(--lato);
    font-size: 150%;
    color:  #fff;
    text-shadow: 1px 1px 1px #666;
}
 .navbar{
    background-color: #297fb8;
    border-bottom: 1px solid #5398c6;
color: #fff;
 }
img.banner{
    width: 100%;
}
h1{
font-size: 300%;
font-weight: 800;
 text-shadow: 2px 2px 2px #666;

}
h2{
font-size: 210%;
}
h3{
    font-size: 150%;
    max-width: 80%;
    margin: 0 auto;
}
p{
    font-size: 120%;
    padding: 6%;

}
img{
    margin: 0 auto;
}
#icon {
    max-width: 200px;
    margin:1% auto ;
}
.social{
    font-size: 400%;
}
.social a{ 
    padding: 3%;
    color: #fff;

}
.social a:hover{
    color: blue;
}
#Home{


}
#About{
    padding: 70px 0;
  background-color:#1fb8eb ;  
}
#Features{
    padding: 70px 0 50px;
    background-color: #ff9800;
}
#portfolio{
    padding: 70px 0 50px;
    background-color:#00b2ca ;
}
#Connect{
    padding:0 0 12% ;
    background-color: #673ab7;
}
.row{
    margin: 0;
}